body {
  background-color: #eed;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

#sidebar {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  margin-right: 3rem;
  padding: 0;
}

#sidebar>ul {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  filter: drop-shadow(5px 0px 5px black);
  background-color: #9ad;
}

#sidebar>ul>li {
  display: block;
  text-align: right;
  width: calc(100% - 2rem);
  height: 1.5rem;
  margin: 0;
  padding: 1rem;
  color: black;
  background-color: #9ad;
  border-bottom: 1px solid gray;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%);
  transition: background-color .3s, width .2s, clip-path .2s, padding-right .2s;
}

#sidebar>ul>li:hover {
  color: white;
}
#sidebar>ul>li.selected {
  background-color: #abe;
  padding-right: 2rem;
  width: calc(100% - 1rem);
  clip-path: polygon(0% 0%,
                     calc(100% - 2rem) 0%,
                     100% 50%,
                     calc(100% - 2rem) 100%,
                     0% 100%);
}

.content {
  display: block;
  position: relative;
  visibility: hidden;
  top: 0;
  left: 0;
}
.content:first {
  visibility: visible;
}

#main {
  display: block;
}
