body {
  background-color: #eed;
}

#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300px;
  margin: 0;
  padding: 0;
}

#sidebar>ul {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  height: 100%;
  filter: drop-shadow(5px 0px 5px black);
  background-color: #9ad;
}

#sidebar>ul>li {
  display: block;
  text-align: right;
  width: 89%;
  height: 1.5rem;
  padding: 1rem;
  margin: 0;
  color: black;
  background-color: #9ad;
  border-bottom: 1px solid gray;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%);
  transition: background-color .3s, width .2s, clip-path .2s, padding-right .2s;
}

#sidebar>ul>li:hover {
  color: white;
}
#sidebar>ul>li.selected {
  background-color: #abe;
  padding-right: 2rem;
  width: 92%;
  clip-path: polygon(0% 0%, 93% 0%, 100% 50%, 93% 100%, 0% 100%);
}
