body {
  background-color: #eed;
}

#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 400px;
  margin: 0;
  padding: 0;
}

#sidebar>ul {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: visible;
  height: 100%;
  filter: drop-shadow(5px 0px 5px black);
  background-color: orange;
}

#sidebar>ul>li {
  display: block;
  width: auto;
  height: 2rem;
  padding: 1rem;
  padding-right: 0;
  margin: 0;
  color: black;
/*  background-color: #9ad; */
  background-color: orange;
  border-bottom: 1px solid gray;
}

#sidebar>ul>li.selected {
  width: 103%;
  clip-path: polygon(0% 0%, 93% 0%, 100% 50%, 93% 100%, 0% 100%);
}
